<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=100%, initial-scale=1.0">
	<link rel="stylesheet" href="style/style.css">
	<title>guestbook</title>
</head>
<body>
	<header>
		<h1>my guestbook</h1>
	</header>
	<main>
		<nav>
			<ul>
				<li class="navi"><a href="index.html">home</a></li>
				<li class="navi"><a href="blog.html">blog</a></li>
				<li class="navi"><a href="gifs.html">my gifs</a></li>
				<li class="navi"><a href="goodies.html">goodies</a></li>
				<li class="navi"><a href="shrines.html">shrines</a></li>
				<li class="navi"><a href="antishrines.html">anti-shrines</a></li>
				<li class="navi"><a href="guestbook.html">guestbook</a></li>
			</ul>
		</nav>
		<section id="center">
			<div id="cusdis_thread"
			data-host="https://cusdis.com"
			data-app-id="17a5f2a0-378a-4b2a-b710-40cbab7b48c4"
			data-page-id="{{ PAGE_ID }}"
			data-page-url="{{ PAGE_URL }}"
			data-page-title="{{ PAGE_TITLE }}"
			data-theme="dark"
			></div>
<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>

		</section>
		<section id="blinkies">
			<img src="img/blinkies/tumblr_pq6gj4nWFa1xxpwpco1_250.gif" alt="">
			<img src="img/blinkies/pingas.gif" alt="">
			<img src="img/blinkies/aliens.gif" alt="">
			<img src="img/blinkies/anime2.gif" alt="">
			<img src="img/blinkies/0001-saucer.gif" alt="">
			<img src="img/blinkies/0028-computer.gif" alt="">
			<img src="img/blinkies/0034-skull.gif" alt="">
			<img src="img/blinkies/136.gif" alt="">
			<img src="img/blinkies/30.gif" alt="">
			<img src="img/blinkies/37.gif" alt="">
			<img src="img/blinkies/53.gif" alt="">
			<img src="img/blinkies/KyPTz4p.gif" alt="">
			<img src="img/blinkies/alwaysunderconstr.gif" alt="">
			<img src="img/blinkies/anime.gif" alt="">
			<img src="img/blinkies/alien.gif" alt="">
			<img src="img/blinkies/antimusk.gif" alt="">
			<img src="img/blinkies/fakegamer.gif" alt="">
			<img src="img/blinkies/girl pretty.gif" alt="">
			<img src="img/blinkies/b29.gif" alt="">
			<img src="img/blinkies/b64.gif" alt="">
			<img src="img/blinkies/bats.gif" alt="">
			<img src="img/blinkies/biohazard2.gif" alt="">
			<img src="img/blinkies/bl-alien.gif" alt="">
			<img src="img/blinkies/bl-anime.gif" alt="">
			<img src="img/blinkies/bl-gamecube.gif" alt="">
			<img src="img/blinkies/bl-html.gif" alt="">
			<img src="img/blinkies/bl-reality.gif" alt="">
			<img src="img/blinkies/blinkieslut.gif" alt="">
			<img src="img/blinkies/blinky89.gif" alt="">
			<img src="img/blinkies/blkcomputer17.gif" alt="">
			<img src="img/blinkies/braindead.gif" alt="">
			<img src="img/blinkies/cring.webp" alt="">
			<img src="img/blinkies/do_what_you_love.gif" alt="">
			<img src="img/blinkies/dontworry.gif" alt="">
			<img src="img/blinkies/ds.gif" alt="">
			<img src="img/blinkies/dumbass.gif" alt="">
			<img src="img/blinkies/eat shit.gif" alt="">
			<img src="img/blinkies/eat the rich.gif" alt="">
			<img src="img/blinkies/eva.gif" alt="">
			<img src="img/blinkies/fallenangel.gif" alt="">
			<img src="img/blinkies/freak.gif" alt="">
			<img src="img/blinkies/gay.gif" alt="">
			<img src="img/blinkies/ggg.gif" alt="">
			<img src="img/blinkies/girl pretty.gif" alt="">
			<img src="img/blinkies/glow.gif" alt="">
		</section>
	</main>
</body>
</html>
