html{
	background-image: url("../img/anti/beatles/shittyfuckingalbum.jpg");
	background-size: 25%;
}
body{
	background-color: #00000051;
	color: white;
	margin-left: 25vw;
	margin-right: 25vw;
}
header{
	text-align: center;
}
section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
img{
	width: 700px;
	height: 700px;
	object-fit: cover;
	object-position: top;
}
